<launch>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="kinect_tf" args="0 0 2.17 0 0 -2.12 world kinect2_rgb_optical_frame"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="kinect_tf_ir" args="0 0 2.17 0 0 -2.12 world kinect2_ir_optical_frame"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="ws_center_publisher" args="-0.068, 2.081, -0.002 0.0 0.0 0.0 1 world ws_center"/>
     -->
    <node name="cropbox_filter" pkg="simpcl" type="cropbox_filter" output="screen">
        <remap from="points_in" to="/kinect2/qhd/points"/>
        <remap from="points_out" to="/kinect2/qhd/points/filtered/cropbox"/>

        <param name="base_frame" type="string" value="/kinect2_rgb_optical_frame"/>
        <param name="target_frame" type="string" value="/ws_center"/>

        <param name="x_min" type="double" value="-1"/>
        <param name="x_max" type="double" value="1"/>

        <param name="y_min" type="double" value="-1"/>
        <param name="y_max" type="double" value="1"/>

        <param name="z_min" type="double" value="0.1"/>
        <param name="z_max" type="double" value="1.5"/>
    </node>

    <node name="red_color_filter" pkg="simpcl" type="color_filter" output="screen">
        <remap from="points_in" to="/kinect2/qhd/points/filtered/cropbox"/>
        <remap from="points_out" to="/kinect2/qhd/points/filtered/red"/>

        <param name="use_hsi" type="int" value="1"/>
        
        <param name="r_min" type="double" value="-20"/>
        <param name="r_max" type="double" value="30"/>

        <param name="g_min" type="double" value="40"/>
        <param name="g_max" type="double" value="255"/>

        <param name="b_min" type="double" value="40"/>
        <param name="b_max" type="double" value="255"/>
    </node>

    <node name="green_color_filter" pkg="simpcl" type="color_filter" output="screen">
        <remap from="points_in" to="/kinect2/qhd/points/filtered/cropbox"/>
        <remap from="points_out" to="/kinect2/qhd/points/filtered/green"/>

        <param name="use_hsi" type="int" value="1"/>
        
        <param name="r_min" type="double" value="110"/>
        <param name="r_max" type="double" value="130"/>

        <param name="g_min" type="double" value="40"/>
        <param name="g_max" type="double" value="255"/>

        <param name="b_min" type="double" value="40"/>
        <param name="b_max" type="double" value="255"/>
    </node>

    <node name="blue_color_filter" pkg="simpcl" type="color_filter" output="screen">
        <remap from="points_in" to="/kinect2/qhd/points/filtered/cropbox"/>
        <remap from="points_out" to="/kinect2/qhd/points/filtered/blue"/>

        <param name="use_hsi" type="int" value="1"/>
        
        <param name="r_min" type="double" value="-128"/>
        <param name="r_max" type="double" value="-40"/>

        <param name="g_min" type="double" value="50"/>
        <param name="g_max" type="double" value="255"/>

        <param name="b_min" type="double" value="40"/>
        <param name="b_max" type="double" value="255"/>
    </node>

    <node name="centroid_cf1" pkg="simpcl" type="get_centroid" output="screen">
        <remap from="points_in" to="/kinect2/qhd/points/filtered/red"/>
        <remap from="centroid" to="/cf1/pose"/>
    </node>

    <node name="centroid_cf2" pkg="simpcl" type="get_centroid" output="screen">
        <remap from="points_in" to="/kinect2/qhd/points/filtered/green"/>
        <remap from="centroid" to="/cf2/pose"/>
    </node>

    <node name="centroid_cf3" pkg="simpcl" type="get_centroid" output="screen">
        <remap from="points_in" to="/kinect2/qhd/points/filtered/blue"/>
        <remap from="centroid" to="/cf3/pose"/>
    </node>

</launch>
